#featured {
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
}
#carousel {
  height: 250px;
  margin-bottom: 0;
}
#carousel .item {
  height: 200px;
  padding: 50px 10% 0 10%;
  text-align: center;
  width: 80%;
}
#carousel .carousel-control {
  background-color: transparent;
  border: 0;
  color: #333;
  font-size: 100px;
  line-height: 100px;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}
#header {

}
#main {
  padding: 30px 0;
}
#main .block {
  margin-bottom: 30px;
}
#sidebar-first > .region {
  padding-right: 10px;
}
#sidebar-second > .region {
  padding-left: 10px;
}
.sidebar input.form-text {
  width: 70%;
}
#footer {
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer-links a {
  margin-left: 15px;
}
@media (max-width: 979px) {
  #sidebar-first > .region {
    padding-right: 0;
  }
  #sidebar-second > .region {
    padding-left: 0;
  }
}

.help{
	margin-left:15px;
}

.tooltip-inner {
  text-align: left !important;
  font-size:14px;
  max-width: 300px !important;
}

fieldset .fieldset-legend{
	color:#1D95CB;
	font-size:21px;
}

.grippie{
	float:left;
	width:500px;
}

textarea{
	float:left !important;
	width:500px !important;
}


#main .container {
	background:none repeat scroll 0 0 #FFFFFF;
	border-radius: 9px 9px 9px 9px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	padding:0 10px;
}

.page-header-wrapper h2{
    border-bottom: 1px solid #CCCCCC;
    font-size: 26px;
    font-weight: normal;
    padding: 10px 0 3px;
}

body #global_container {
	background:url("../images/burst_green.jpg") no-repeat scroll center 0 #89B556;
}

#global_container{
	background-image:radial-gradient(at center center , #C5DC6C 0%, #89B556 100%) !important;
}

.header{
    margin-bottom: 40px;
    padding: 0 10px;
}

fieldset legend{
	border: 0 none;
}